@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #FFFFFF;
}

/*========== HEADER ==========*/

header {
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
    position: relative;
    margin-top: 10px;
  }
  header .logo {
    font-size: 2em;
    color: #ff6e6c;
    display: flex;
    height: 80px;
    margin-right: 10px; 
    align-items: center; 
  }
  
  .logo img {
    display: flex;
    width: 50px;
    margin-top: 15px; 
    margin-bottom: 10px; 
    margin-right: 10px;
    color: #FF6E6C;
  }

  .logo-title {
    color: #FF6E6C;
  }
  
  
  /* Scroll top */
  .scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffcc5d;
    border-radius: 20px;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
  }
  
  .scrolltop:hover{
    background-color: #67568c;
  }
  
  .scrolltop_icon {
    font-size: 3em;
    color: #ffffff;
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 1.5rem;
  }
  
  /*========== NAV ==========*/
  body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li {
    height: 40px;
  }
  
  
.navhome{
  display: inline-block;
  color: #ff6e6c;
  font-size: 20px;
  padding: 15px 35px;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 30px;
  font-weight: 600;
  border: 0;
}
  
  .sidebar {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.685);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
 
  .sidebar li{
    width: 100%;
    margin-top: 20px;
  }
  
  
  #nav-close {
    color: #FF6E6C;
    padding: 0;
    font-size: 40px;
    padding-left: 200px;
    margin-top: 0;
  }
  
  #nav-menu {
    display: none;
    font-size: 30px;
    background-color: #FFFFFF;
    
  }
  
  .navhome:hover, header nav ul li a.active {
    background-color: #ff6e6c;
    color: #FFFFFF;
  }
  
  
  @media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    #nav-menu {
        display: block;
        color: #FF6E6C;
    }
  
    header {
      padding: 10px;
    }
  }
  
  @media(max-width:400px){
    .hideOnMobile{
        width: 100px;
    }
  
    
  }

  
/*========== FOOTER ==========*/
.footer {
    width: 100%;
    background-color: #795eb6;
  }
  
  .footer .group-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 50px;
    padding: 10px 0px;
  }
  
  .footer .group-1 .box figure {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
  }
  
  .footer .group-1 .box figure img {
    width: 90px;
    margin-right: 20px; 
    margin-left: 30px;
    margin-left: 0;
  }
  
  .footer .group-1 .box h2.footer-title {
    margin: 0;
  }
  
  
  #quicklinks ul li a {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 25px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 20px;
  }
  
  #quicklinks ul li a:hover,
  #quicklinks ul li a.active {
    color: #ff6e6c;
  }
  
  .footer .group-1 .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 0px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 30px;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .footer .group-1 .social-media a:hover {
    color: #FF6E6C;
  }
  
  .footer .group-2 {
    background-color: #67568c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .footer .group-2 small {
    font-size: 13px;
  }
  
  .footer-title {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
  }
  
  #reachus {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #ffffff;
  }
  
  #quicklinks ul {
    display: flex;
    color: #ffffff;
    padding: 0;
  }

  
    #quicklinks ul li a {
    color: #ffffff;
  }
  
  
  figure {
    margin-top: 10px;
  }

  @media screen and (max-width: 800px) {
    .footer .group-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
/*========== MEDIA QUERIES ==========*/

/*========== MAX 1240PX ==========*/
@media (max-width:1240px) {
   .box figure img {
      width: 60px;
      margin-right:20px; 
    
      margin-top: 10px;
    }
  
    
    
    figure {
      margin-right: 0;
      margin-top: 10px;
      margin-left: 100px;
    }
  }
  
  /*========== MAX 900PX ==========*/
  @media (max-width:900px) {
   
  
    .home__img{
      width: 500px;
    }
  
   
  }
  
  
  /*========== MAX 800PX ==========*/
  @media (max-width:800px) {
    figure {
      margin: 0;
    }
  
    #quicklinks ul li a {
      padding: 0;
      margin: 0;
      margin-right: 60px;
      font-size: 20px;
    }
  
    #reachus {
      margin: 0;
    }
  
    
    .footer .group-1 .social-media a {
      font-size: 30px;
      margin-right: 50px;
    }
  
  }
  
  
  /*========== MAX 580PX ==========*/
  @media (max-width:580px) {
    #quicklinks ul {
      display: block;
    }
    
}
  
  
  @media (max-width:380px) {
    
  
  }
  
  @media (max-width:300px) {
  
    .footer .group-2 small {
      font-size: 10px;
    }
  
    #text2 {
      font-size: 3em;
    }

  
  }
  

  
  
  

.about {
    width: 100%;
    height: 90vh;
    display: flex;
    color: #ff6e6c;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
}

.abouttext {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.about .content img {
    height: auto;
    width: 600px;
    max-width: 100%;
}

#atext1 {
    color: #67568c;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#atext2 {
    color: #ff6e6c;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#atext3 {
    color: #ff6e6c;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 45px;
    text-align: justify;
}

#abtn {
    background-color: #ff6e6c;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;

}

#abtn:hover {
    background-color: #67568c;
    transition: 0.5s;
}

.missionvision-container {
    margin-bottom: 80px;
}

@media screen and (max-width: 1300px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
        text-align: center;
    }
    #atext1 {
        font-size: 60px;
        padding-top: 30px;
}

.missionvision-container {
    margin: 50px;
}
}
 
@media screen and (max-width: 500px) {
    #atext1 {
        font-size: 60px;
        padding-top: 30px;
    }

    #atext1 {
        font-size: 30px;
    }

    #atext2 {
        font-size: 20px;
    }

    #atext3 {
        font-size: 15px
}

   
}


.missionvision-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mvbox {
    width: 500px;
    background-color: #ff6e6c;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.text {
    padding: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}


.text .title {
    font-size: 1.3em;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.text p {
    color: #ffffff;
    font-size: 0.8em;
    margin: 20p 0px;
}
