@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

/*========== LOADER ==========*/

#preloader {
  background: #ffffff url(images/loader.gif) no-repeat center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

#preloader.hidden {
  opacity: 0;
}

@media (max-width:600px) {
  #preloader {
    background-size: 30%;
  }
}
/*========== HEADER ==========*/

header {
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  header .logo {
    font-size: 2em;
    color: #ff6e6c;
    display: flex;
    height: 80px;
    margin-right: 10px; 
    align-items: center; 
  }
  
  .logo img {
    display: flex;
    width: 50px;
    margin-top: 15px; 
    margin-bottom: 10px; 
    margin-right: 10px;
    color: #FF6E6C;
  }

  .logo-title {
    color: #FF6E6C;
  }
  
  
  /* Scroll top */
  .scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffcc5d;
    border-radius: 20px;
    z-index: 999;
    transition: .4s;
    visibility: hidden;
  }
  
  .scrolltop:hover{
    background-color: #67568c;
  }
  
  .scrolltop_icon {
    font-size: 3em;
    color: #ffffff;
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 1.5rem;
  }
  
  /*========== NAV ==========*/
  body {
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li {
    height: 40px;
  }

  .logo-title {
    font-weight: 600;
  }
  
  
  .navhome{
    display: inline-block;
    color: #ff6e6c;
    font-size: 20px;
    padding: 15px 35px;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 30px;
    font-weight: 600;
    border: 0;
  }
  
  .sidebar {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.685);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
 
  .sidebar li{
    width: 100%;
    margin-top: 20px;
  }
  
  
  #nav-close {
    color: #FF6E6C;
    padding: 0;
    font-size: 40px;
    padding-left: 200px;
    margin-top: 0;
  }
  
  #nav-menu {
    display: none;
    font-size: 30px;
    background-color: #FFFFFF;
    
  }
  
  .navhome:hover, header nav ul li a.active {
    background-color: #ff6e6c;
    color: #FFFFFF;
  }
  
  
  @media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    #nav-menu {
        display: block;
        color: #FF6E6C;
    }
  
    header {
      padding: 10px;
    }
  }
  
  @media(max-width:400px){
    .hideOnMobile{
        width: 100px;
    }
  
    
  }

  
/* Scroll top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffcc5d;
    border-radius: 20px;
    z-index: 9999;
    transition: .4s;
    visibility: hidden;
  }
  
  .scrolltop:hover{
    background-color: #67568c;
  }
  
  .scrolltop_icon {
    font-size: 3em;
    color: #ffffff;
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 1.5rem;
  }
  
  

/*========== POST ==========*/

   
section {
    position: relative;
}

.post-header {
    width: 100%;
    height: 300px;
    background: #ff6e6c;
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

.back-blogs {
    color: #FFFFFF;
    font-size: 1em; 
   
}

.back-blogs:hover {
    color: #67568c;
}

.header-title {
    width: 90%;
    font-size: 2.6em;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;

}

.date {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.header-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.post-content {
    margin-top: 400px;
}


.sub-heading {
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 40px;
}

.post-text {
    font-size: 1em;
    line-height: 1.7em;
    margin: 1em 0;
    text-align: justify;
    font-weight: 100;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    font-size: 15px;
}

.share-title {
    font-size: 1.1em;
    font-weight: 100;
}

#sourceslink {
  color: #67568c;
}



/*========== FOOTER ==========*/
.footer {
    width: 100%;
    background-color: #795eb6;
  }
  
  .footer .group-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 50px;
    padding: 10px 0px;
  }
  
  .footer .group-1 .box figure {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
  }
  
  .footer .group-1 .box figure img {
    width: 90px;
    margin-right: 20px; 
    margin-left: 30px;
    margin-left: 0;
  }
  
  .footer .group-1 .box h2.footer-title {
    margin: 0;
  }
  
  
  #quicklinks ul li a {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 25px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 20px;
  }
  
  #quicklinks ul li a:hover,
  #quicklinks ul li a.active {
    color: #ff6e6c;
  }
  
  .footer .group-1 .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 0px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 30px;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .footer .group-1 .social-media a:hover {
    color: #FF6E6C;
  }
  
  .footer .group-2 {
    background-color: #67568c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .footer .group-2 small {
    font-size: 13px;
  }
  
  .footer-title {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
  }
  
  #reachus {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #ffffff;
  }
  
  #quicklinks ul {
    display: flex;
    color: #ffffff;
    padding: 0;
  }

  
    #quicklinks ul li a {
    color: #ffffff;
  }

  figure {
    margin-top: 10px;
  }
  
  @media screen and (max-width: 800px) {
    .footer .group-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
/*========== MEDIA QUERIES ==========*/

/*========== MAX 1240PX ==========*/
@media (max-width:1240px) {
   .box figure img {
      width: 60px;
      margin-right:20px; 
      margin-top: 10px;
    }
  
    figure {
      margin-right: 0;
      margin-top: 10px;
      margin-left: 100px;
    }
  }
  
  /*========== MAX 900PX ==========*/
  @media (max-width:900px) {
  
    .home__img{
      width: 500px;
    }

    .post-content {
        margin-top: 400px;
    }
  }
  
  

  
  /*========== MAX 800PX ==========*/
  @media (max-width:800px) {
    

    .post-container {
        margin: 0 auto;
        width: 80%;
    }

    .share .post-container {
      width: 100%;
      overflow: hidden;
    }
 
    .header-img {
        width: 100%;
        height: 400px;
    }
    
    .post-content {
        margin-top: 450px;
    }

    figure {
      margin: 0;
    }
  
    #quicklinks ul li a {
      padding: 0;
      margin: 0;
      margin-right: 60px;
      font-size: 20px;
    }
  
    #reachus {
      margin: 0;
    }
  
    
    .footer .group-1 .social-media a {
      font-size: 30px;
      margin-right: 50px;
    }
  
  }
  
   /*========== MAX 700PX ==========*/

@media only screen and (max-width: 700px) {  
    .content {
        flex-direction: column;
        align-items: center;
    }

    .post-container {
        margin: 0 auto;
        width: 80%;
    }
 
    .header-img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
    
    .post-content {
        margin-top: 450px;
    }
    
}


  /*========== MAX 597PX ==========*/

  @media only screen and (max-width: 597px) {  
    


    .header-title {
        font-size: 40px;
    }
    
}

  /*========== MAX 580PX ==========*/
  @media (max-width:580px) {
    #quicklinks ul {
      display: block;
    }

    .post-content {
        margin-top: 490px;
    }
    
}

   /*========== MAX 550PX ==========*/
@media (max-width:550px) {
    .post-container {
        margin: 0 auto;
        width: 80%;
    }
 
    .header-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
    
    .post-content {
        margin-top: 250px;
    }

    .header-title {
        font-size: 30px;
    }
}



 /*========== MAX 463PX ==========*/
@media (max-width:463px) {
    .post-container {
        margin: 0 auto;
        width: 80%;
    }
 
    .header-img {
        height: 200px;
    }
    
    .post-content {
        margin-top: 150px;
        padding: 0;
    }

    .header-title {
        font-size: 25px;
    }

    .back-blogs {
        font-size: 10px;
    }

    .header-content {
        padding-top: 20px;
    }

    .post-text {
        font-size: 13px;
    }
}

  
  
/*========== MAX 365PX ==========*/
@media (max-width:365px) { 
    .post-content {
        margin-top: 140px;
        padding: 0;
    }

    .header-title {
        font-size: 20px;
    }

    .back-blogs {
        font-size: 10px;
    }

    .header-content {
        padding-top: 20px;
    }

    .date {
        font-size: 14px;
    }
}
  
  
  
  @media (max-width:300px) {
  
    .footer .group-2 small {
      font-size: 10px;
    }
  
  }
  

  
 /*========== MAX 280PX ==========*/

@media (max-width:280px) { 
    .post-content {
        margin-top: 140px;
        padding: 0;
    }

    .header-title {
        font-size: 20px;
    }

    .back-blogs {
        font-size: 10px;
    }

    .header-content {
        padding-top: 20px;
    }

    .date {
        font-size: 10px;
    }
}

