@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #ff6e6c;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #ff6e6c;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,.navigation a.active {
    background-color: #ff6e6c;
    color: #FFFFFF;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text1, #text2, #text3 {
    font-family: 'Poppins', sans-serif;
}
#text1 {
    position: absolute;
    font-size: 4em;
    color: #ffcc5d;
    height: 300px;
    text-shadow: 2px 2px 4px  rgba(255, 0, 0, 0.2);
}

#text2 {
    position: absolute;
    font-size: 4em;
    color: #ffcc5d;
    height: 170px;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.2);
}

#text3 {
    position: absolute;
    font-size: 1.5em;
    color: #ffcc5d;
    height: 10px;
    text-shadow: 2px 2px 4px  rgba(255, 0, 0, 0.2);
}

#btn
{
    position: absolute;
    font-size: 1.5em;
    color: #ffcc5d;
    transform: translateY(70px);
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ff6e6c;
    color: #FFFFFF;
    font-size: 1.5em;


}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#digitalartist {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 75%;
    z-index: -1; 
    pointer-events: none;
}

#bigpaintpurple {
    position: absolute;
    top: -4px;
}

.sec {
    position: relative;
    top: 200px;
    background: #795eb6;
    padding: 150px;
}

section::before{
    content: '';
    position: relative;
    bottom: -500px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top,#795eb6, transparent);
    z-index: 10;
  }
.sec h2 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;

}

.sec p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}


@media screen and (max-width: 960px) {
  
.parallax {
height: 60vh;
    }

  .logo {
    font-size: 1.5em;
    margin-right: 150px;

  }

  .navigation a {
    font-size: 0.9em;
    padding: 8px 12px;
  }

  .parallax {
    height: 60vh;
  }

  #digitalartist {
    top: 200px;
  }

  #paintdrop1 {
      top: 150px;
  }

  #paintdrop2 {
      top: 150px;
  }

  #bigpaintpurple {
    top: 150px;
  }

  #text1 {
      font-size: 3em;
      height: 100px;
      
  }

  #text2 {
      font-size: 3.5em;
      height: 10px;
  }

  #text3 {
      font-size: 2em;
      transform: translateY(70px);
  }

  #btn {
      font-size: 1.5em;
      transform: translateY(150px);
     
  }

  .sec {
    position: relative;
    top: 300px;
    background: #795eb6;
    padding: 200px;
}

section::before{
    content: '';
    position: relative;
    bottom: -450px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top,#795eb6, transparent);
    z-index: 10;

}
}


/* Tablet styles */
@media only screen and (max-width: 768px) {
    header {
      padding: 20px;
    }
  
    .logo {
      margin-right: 0;
    }
  
    .navigation {
      display: none;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      z-index: 99;
    }
  
    .navigation a {
      display: block;
      margin: 10px 0;
    }
  
    .navigation.active {
      display: flex;
    }
  
    .parallax {
      height: 80vh;
    }
  
    #digitalartist {
      top: 220px;
    }
  
    #bigpaintpurple {
      top: 190px;
    }
    #paintdrop1 {
        top: 190px;
    }

    #paintdrop2 {
        top: 190px;
    }

    #text1 {
        font-size: 2em;
        height: 250px;
    }

    #text2 {
        font-size: 2.5em;
        height: 190px;
    }

    #text3 {
        font-size: 1em;
        height: 230px;
    }

    #btn {
        font-size: 1em;
        transform: translateY(5px);
       
    }

    
  .sec {
    position: relative;
    top: 50px;
    background: #795eb6;
    padding: 150px;
}

section::before{
    content: '';
    position: relative;
    bottom: -190px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top,#795eb6, transparent);
    z-index: 10;


  }



  /* Mobile styles */
  @media only screen and (max-width: 480px) {
    header {
      padding: 10px;
    }
  
    .logo {
      font-size: 1.5em;
    }
  
    .navigation a {
      font-size: 0.9em;
      padding: 8px 12px;
    }
  
    .parallax {
      height: 60vh;
    }
  
    #digitalartist {
      top: 230px;
    }
  
    #paintdrop1 {
        top: 200px;
    }

    #paintdrop2 {
        top: 200px;
    }

    #bigpaintpurple {
      top: 220px;
    }

    #text1 {
        font-size: 2em;
        height: 200px;
    }

    #text2 {
        font-size: 2.5em;
        height: 130px;
    }

    #text3 {
        font-size: 1em;
        height: 170px;
    }

    #btn {
        font-size: 1em;
        transform: translateY(35px);
       
    }
.sec {
    position: relative;
    top: 40px;
    background: #795eb6;
    padding: 150px;
    text-align: center;
    width: 100%;
}

section::before{
    content: '';
    position: relative;
    bottom: -170px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#795eb6, transparent);
    z-index: 10;
  }

  .sec h2 {
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  
    
  }

  .sec p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
  }