/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #ff6e6c;
  --first-color-alt: #67568c;
  --title-color: #ffffff;
  --text-color: #ffffff;
  --text-color-light: #A6A6A6;
  --body-color: #FFFFFF;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: 'Merriweather Sans', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
  position: relative;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  color: var(--body-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

/*========== LOADER ==========*/

#preloader {
  background: #ffffff url(images/loader.gif) no-repeat center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

#preloader.hidden {
  opacity: 0;
}

@media (max-width:600px) {
  #preloader {
    background-size: 30%;
  }
}

/*========== HEADER ==========*/

header {
  background: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
  position: relative;
  margin-top: 10px;
}
header .logo {
  font-size: 2em;
  color: #ff6e6c;
  display: flex;
  height: 80px;
  margin-right: 10px; 
  align-items: center; 
}

.logo img {
  display: flex;
  width: 50px;
  margin-top: 15px; 
  margin-bottom: 10px; 
  margin-right: 10px;
}

.logo-title {
  font-size: 30px;
  font-weight: 600;
  color: #FF6E6C;
}




/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffcc5d;
  border-radius: 20px;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: #67568c;
}

.scrolltop_icon {
  font-size: 3em;
  color: #ffffff;
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== NAV ==========*/
body {
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 40px;
}


.navhome{
  display: inline-block;
  color: #ff6e6c;
  font-size: 20px;
  padding: 10px 35px;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 30px;
  font-weight: 600;
  border: 0;
}

.sidebar {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: hsla(0, 0%, 100%, 0.685);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.sidebar li{
  width: 100%;
  margin-top: 20px;
}


#nav-close {
  color: #FF6E6C;
  padding: 0;
  font-size: 40px;
  padding-left: 200px;
  margin-top: 0;
}

#nav-menu {
  display: none;
  font-size: 30px;
  background-color: #FFFFFF;
  
}

.navhome:hover, header nav ul li a.active {
  background-color: #ff6e6c;
  color: #FFFFFF;
}


@media(max-width:800px){
  .hideOnMobile{
      display: none;
  }
  #nav-menu {
      display: block;
      color: #FF6E6C;
  }

  header {
    padding: 10px;
  }
}

@media(max-width:400px){
  .hideOnMobile{
      width: 100px;
  }

  
}

/*========== HOME ==========*/
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

#text1, #text2, #text3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 800;
}
#text1 {
    position: absolute;
    font-size: 4em;
    color: #ffcc5d;
    height: 500px;
    text-shadow: 2px 2px 4px  rgba(255, 0, 0, 0.2);
}

#text2 {
    position: absolute;
    font-size: 4.5em;
    color: #ffcc5d;
    height: 380px;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.2);
}

#text3 {
    position: absolute;
    font-size: 2em;
    color: #ffcc5d;
    height: 200px;
    text-shadow: 1px 1px 2px  rgba(255, 0, 0, 0.2);
}

#btnn
{
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    transform: translateY(-15px);
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 25px;
    background: #ff6e6c;
    color: #FFFFFF;
}

#btnn:hover {
  background-color: #67568c;
}

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}

#digitalartist {
    z-index: -1;
    margin-left: -100px;
}

#bigpaintpurple {
  bottom: -1px;
  
}


/*========== ABOUT ==========*/
#about {
    background-color: #795eb6;
    padding-top: 0;
}
.about__data{
  text-align: center;
}

.about__initial {
  margin-right: 200px;
}

.about__description{
  margin-bottom: 50px;
  padding-right: 200px;
}

.about__img{
  width: 100%;
  border-radius: .5rem;
  justify-self: center;
  object-fit: cover;
  height: 100%;
}

#explore {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background: #ff6e6c;
    color: #FFFFFF;

}

.section {
    background-color: #795eb6;
    padding-bottom: 100px;
    padding-top: 10px;
}




/*========== SERVICES ==========*/
#services {
    background-color: #ff6e6c;
}

#serviceheader {
  margin-top: 120px;
}
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 0;
}

.services__content{
  text-align: center;
  padding: 30px;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--body-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 5.5rem;
}

/*========== START ==========*/

.start-journey {
  color: #ff6e6c;
  text-align: center;
  position: relative;
  padding: 100px;
}

.start-title {
  font-size: 40px;
  margin-bottom: 20px;
  padding-top: 20px
}

.start-button {
  font-size: 1.5em;
  padding: 8px 30px;
  border-radius: 40px;
  background: #ff6e6c;
  color: #FFFFFF;
}

.start-button:hover {
  background-color: #67568c;
  transition: 0.5s;
}
/*========== FOOTER ==========*/
.footer {
  width: 100%;
  background-color: #795eb6;
}

.footer .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 50px;
  padding: 10px 0px;
}

.footer .group-1 .box figure {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.footer .group-1 .box figure img {
  width: 90px;
  margin-right: 20px; 
  margin-left: 30px;
  margin-left: 0;
}

.footer .group-1 .box h2.footer-title {
  margin: 0;
}


#quicklinks ul li a {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 25px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 20px;
}

#quicklinks ul li a:hover,
#quicklinks ul li a.active {
  color: #ff6e6c;
}

.footer .group-1 .social-media a {
  display: inline-block;
  text-decoration: none;
  width: 0px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-right: 30px;
  text-align: center;
  transition: all 300ms ease;
}

.footer .group-1 .social-media a:hover {
  color: #FF6E6C;
}

.footer .group-2 {
  background-color: #67568c;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .group-2 small {
  font-size: 13px;
}

.footer-title {
  font-size: 30px;
  font-weight: 600;
}

#reachus {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0;
}

#quicklinks ul {
  display: flex;
}

#quicklinks ul li a {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .footer .group-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
}

/*========== MEDIA QUERIES ==========*/

/*========== MAX 1240PX ==========*/
@media (max-width:1240px) {
  .about__data {
    padding-right: 70px;
  }

  .about__initial {
    font-size: 30px;
    margin-right: 100px;
  }
  .about__description {
    text-align: justify;
    padding: 0;
  }

  .services__container {
    padding: 70px;
    margin-top: 0;
  }
  .services__description {
    margin: 0;
    padding: 0;
  }

  .footer .group-1 .box figure img {
    width: 60px;
    margin-right: 20px; 
  
    margin-top: 10px;
  }

  figure {
    margin-right: 0;
    margin-top: 25px;
  }
}

/*========== MAX 900PX ==========*/
@media (max-width:900px) {

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container {
    column-gap: 2rem;
  }

  .about__initial {
    margin-right: 0;
  }
  
  .about__img {
    margin-left: 30px;
  }

  .about__data {
    padding-right: 20px;
  }

  .section-title  {
    font-size: 30px;
  }

  #services.section.bd-container {
    padding-top: 50px;
  }
  
}


/*========== MAX 800PX ==========*/
@media (max-width:800px) {

  .about__initial {
    font-size: 20px;
  }

  figure {
    margin: 0;
  }

  #quicklinks ul li a {
    padding: 0;
    margin: 0;
    margin-right: 60px;
    font-size: 20px;
  }

  #reachus {
    margin: 0;
  }

  
  .footer .group-1 .social-media a {
    font-size: 30px;
    margin-right: 50px;
  }

}


/*========== MAX 580PX ==========*/
@media (max-width:580px) {
 

  .about__img {
    padding: 0;
    margin: 0;
  }

  .about__container .about__data {
    margin: 40px;
    text-align: center;
  }

  .about__img {
    padding: 50px;
    border-radius: 70px;
    margin: 0;
  }

  .about__container .about__data {
    padding-left: px;
    padding-right: 0;
    margin: 0;
  }

  .about__data {
    text-align: center;
    justify-content: center;
  }
  .about__description {
    padding: 40px;
    margin: 0;
  }

  .section-title {
    text-align: center;
  }

  .about__initial {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
  }
  .section-subtitle {
    padding: 0;
    margin-top: 50px;
  }

  .services__container {
    padding-top: 0;
  }
  .services__content{
    padding: 0;
  }

  
  #serviceheader {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .services__title {
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px;
  }

  .services__description {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .start-title {
    font-size: 20px;
    font-weight: 900;
  }

  #quicklinks ul {
    display: block;
  }
  
  #digitalartist {
    transform: translate(50px, -10px);
  }


}


@media (max-width:380px) {
  .about__initial {
    font-size: 18px;
    margin-bottom: 0;
    
  }

  .section-subtitle {
    font-size: 15px;
  }

  .services__container {
    padding-top: 0;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }


  #serviceheader {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .services__description {
    font-size: 15px;
  }

  #text1 {
    font-size: 3.5em; 
    height: 500px; 
}

#text2 {
    font-size: 3.5em;
    height: 350px;
}


#btnn {
    font-size: 30px; 
    transform: translateY(-5px);
}

}

@media (max-width:300px) {


  #serviceheader {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .services__title {
    font-size: 20px;
  }

  .services__description {
    font-size: 15px;
  }

  .start-journey {
    padding-left: 0;
    padding-right: 0;
  }
  .start-title {
    font-size: 20px;
  }

  .footer .group-2 small {
    font-size: 10px;
  }

  #text2 {
    font-size: 3em;
  }
 

}


@media screen and (min-width: 576px){

  
.home__container,
.about__container,
.app__container{
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.about__data, .about__initial {
  text-align: initial;
}

.about__img {
  width: 380px;
  order: -1;
}
  
}










@media screen and (min-width: 768px){
 


  .home__container{
    height: 100vh;
    justify-items: center;
  }

 
}



.custom-shape-divider-top-1704222441 {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704222441 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-top-1704222441 .shape-fill {
  fill: #795eb6;
}




.custom-shape-divider-top-1704223475 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704223475 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 122px;
}

.custom-shape-divider-top-1704223475 .shape-fill {
  fill: #FF6E6C;
}